html,
body {  
    margin: 0;
    padding: 0;

   }


#x {

    font-size: 1.18rem;
}

.footer {

    background-color: #008B8B;
    text-align: center;
    position:fixed;

    float:left;
    right:0;
    left:0;
    bottom:0;
    color: #fff;
}


.img {

    align-items: center;
    border : 1rem;
    float: left;
    padding: 1rem;
    max-width: 20%;

}



@media only screen and (max-width:600px)
{
    .box2  li{
    
                float: left;
            
               
              
            }
           
    
    }

    .box2  {
        
        float:left;
          
    }
    


.heading {

text-align: center;
background-color: #008B8B;

}


form {
    border: 1px solid #ccc;
    padding: 1rem;
    width: 80%;  
    margin-left: 190px;

}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;

}

form button {
    
    padding: 0.5rem 1rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 5px solid;
    width: 5rem;
    margin-left: auto;
}
.box2 li {
 
    padding: 8px;
    font-size: 24px;
    display: block;
    
 
} 


.box2 a
{
    cursor: pointer; 
    color:#008B8B;
    text-decoration: none;
    padding: 1rem;
    
    
    
}
.box2 ul li :hover{
color:#2c3737;

background-color: #006b8b;
transition: 0.3s all;

}